-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'AWAITING_DEPOSIT', 'PAID', 'CANCELLED', 'FAILED', 'EXPIRED', 'PARTIALLY_CANCELLED', 'REFUNDED', 'COMPLETED');

-- CreateEnum
CREATE TYPE "PaymentPromotionDiscountType" AS ENUM ('percentage', 'amount');

-- CreateEnum
CREATE TYPE "RewardCurrency" AS ENUM ('points', 'SGP', 'SGT');

-- CreateEnum
CREATE TYPE "EventCategory" AS ENUM ('concert', 'fanmeeting', 'fancamp', 'festival', 'exhibition', 'other');

-- CreateEnum
CREATE TYPE "EventStatus" AS ENUM ('upcoming', 'ongoing', 'completed', 'cancelled');

-- CreateEnum
CREATE TYPE "WalletStatus" AS ENUM ('ACTIVE', 'INACTIVE', 'LOCKED');

-- CreateEnum
CREATE TYPE "MetadataType" AS ENUM ('collection', 'nft');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT,
    "emailVerified" TIMESTAMP(3),
    "image" TEXT,
    "role" TEXT NOT NULL DEFAULT 'user',
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastLoginAt" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Wallet" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "privateKey" TEXT,
    "network" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "default" BOOLEAN NOT NULL DEFAULT false,
    "primary" INTEGER DEFAULT 0,
    "lastAccessedAt" TIMESTAMP(3) NOT NULL,
    "nickname" TEXT,
    "status" "WalletStatus" NOT NULL DEFAULT 'ACTIVE',
    "keyHash" TEXT,
    "nonce" TEXT,

    CONSTRAINT "Wallet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Player" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "telegramId" TEXT,
    "name" TEXT,
    "points" INTEGER NOT NULL DEFAULT 0,
    "SGP" INTEGER NOT NULL DEFAULT 0,
    "SGT" INTEGER NOT NULL DEFAULT 0,
    "recommendedCount" INTEGER NOT NULL DEFAULT 0,
    "recommenderId" TEXT,
    "recommenderName" TEXT,
    "recommenderMethod" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastConnectedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Player_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Quest" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "url" TEXT,
    "icon" TEXT,
    "rewards" INTEGER NOT NULL DEFAULT 800,
    "rewardCurrency" "RewardCurrency" NOT NULL DEFAULT 'points',
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "permanent" BOOLEAN NOT NULL DEFAULT false,
    "visible" BOOLEAN NOT NULL DEFAULT true,
    "primary" INTEGER DEFAULT 0,
    "effects" TEXT,
    "type" TEXT,

    CONSTRAINT "Quest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QuestLog" (
    "id" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "questId" TEXT NOT NULL,
    "completed" BOOLEAN NOT NULL DEFAULT false,
    "completedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "rewards" INTEGER NOT NULL DEFAULT 0,
    "rewardCurrency" "RewardCurrency" NOT NULL DEFAULT 'points',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "QuestLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Poll" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "titleShorten" TEXT,
    "options" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "optionsShorten" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "bannerImg" TEXT,
    "startDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "exposeInScheduleTab" BOOLEAN NOT NULL DEFAULT false,
    "openPromotionText" TEXT,
    "openPromotionImg" TEXT,
    "resultPromotionText" TEXT,
    "resultPromotionImg" TEXT,
    "totalVotes" INTEGER NOT NULL DEFAULT 0,
    "totalVotesByOption" INTEGER[] DEFAULT ARRAY[]::INTEGER[],
    "totalBetsAmount" INTEGER NOT NULL DEFAULT 0,
    "totalBetsAmountByOption" INTEGER[] DEFAULT ARRAY[]::INTEGER[],
    "results" INTEGER[] DEFAULT ARRAY[]::INTEGER[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Poll_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PollLog" (
    "id" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "pollId" TEXT NOT NULL,
    "option" TEXT NOT NULL,
    "betAmount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PollLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RewardsLog" (
    "id" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "questId" TEXT,
    "questLogId" TEXT,
    "pollId" TEXT,
    "pollLogId" TEXT,
    "amount" INTEGER NOT NULL,
    "currency" "RewardCurrency" NOT NULL DEFAULT 'points',
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RewardsLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Events" (
    "id" TEXT NOT NULL,
    "category" "EventCategory" NOT NULL DEFAULT 'other',
    "title" TEXT NOT NULL,
    "description" TEXT,
    "content" JSONB,
    "url" TEXT,
    "status" "EventStatus" NOT NULL DEFAULT 'upcoming',
    "bannerImg" TEXT,
    "bannerImg2" TEXT,
    "galleryImgs" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "detailImg" JSONB,
    "saleStartDate" TIMESTAMP(3),
    "saleEndDate" TIMESTAMP(3),
    "price" INTEGER,
    "capacity" INTEGER,
    "ageLimit" INTEGER,
    "organizer" TEXT,
    "organizerImg" TEXT,
    "organizerUrl" TEXT,
    "contact" TEXT,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "location" TEXT,
    "locationAddress" TEXT,
    "locationImg" TEXT,
    "locationUrl" TEXT,
    "locationLat" DOUBLE PRECISION,
    "locationLng" DOUBLE PRECISION,
    "artist" TEXT,
    "artistImg" TEXT,
    "artistUrl" TEXT,
    "tags" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "hashtags" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "promotionText" TEXT,
    "promotionImg" TEXT,
    "isFeatured" BOOLEAN NOT NULL DEFAULT false,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "bookmarkCount" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StoredFiles" (
    "id" TEXT NOT NULL,
    "name" VARCHAR(255),
    "url" VARCHAR(2048) NOT NULL,
    "type" VARCHAR(50),
    "sourceUrl" VARCHAR(2048),
    "alt" VARCHAR(255),
    "width" INTEGER,
    "height" INTEGER,
    "mimeType" VARCHAR(50),
    "sizeBytes" INTEGER,
    "metadata" JSONB,
    "order" INTEGER DEFAULT 0,
    "purpose" VARCHAR(50),
    "bucket" VARCHAR(50) NOT NULL,
    "expiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StoredFiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LoginAttemptLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "email" TEXT,
    "provider" TEXT,
    "success" BOOLEAN NOT NULL,
    "error" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LoginAttemptLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Payment" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "productTable" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "productName" TEXT NOT NULL,
    "productDefaultCurrency" TEXT NOT NULL,
    "amount" INTEGER NOT NULL,
    "quantity" INTEGER NOT NULL,
    "currency" TEXT NOT NULL,
    "payMethod" TEXT NOT NULL,
    "easyPayProvider" TEXT,
    "cardProvider" TEXT,
    "cardInstallmentMonths" INTEGER,
    "cardInterestFree" BOOLEAN,
    "cardApproveNumber" TEXT,
    "cardNumber" TEXT,
    "status" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "statusReason" TEXT,
    "paidAt" TIMESTAMP(3),
    "cancelledAt" TIMESTAMP(3),
    "failedAt" TIMESTAMP(3),
    "pgResponse" JSONB,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "channelKey" TEXT NOT NULL,
    "storeId" TEXT NOT NULL,
    "promotionCode" TEXT,
    "isPromotionApplied" BOOLEAN NOT NULL DEFAULT false,
    "convertedPrice" INTEGER,
    "exchangeRate" DOUBLE PRECISION,
    "exchangeRateProvider" TEXT,
    "exchangeRateTimestamp" TIMESTAMP(3),
    "originalProductPrice" INTEGER,
    "refundedAt" TIMESTAMP(3),
    "cancelAmount" INTEGER,
    "redirectUrl" TEXT,
    "code" TEXT,
    "message" TEXT,
    "paymentId" TEXT,
    "pgCode" TEXT,
    "pgMessage" TEXT,
    "transactionType" TEXT,
    "txId" TEXT,
    "postProcessResult" JSONB,
    "postProcessResultAt" TIMESTAMP(3),
    "receiverWalletAddress" TEXT,
    "needWallet" BOOLEAN NOT NULL DEFAULT false,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "Payment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentPromotion" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "discountType" "PaymentPromotionDiscountType" NOT NULL DEFAULT 'percentage',
    "discountValue" INTEGER NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PaymentPromotion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WebhookEvent" (
    "id" TEXT NOT NULL,
    "paymentId" TEXT,
    "payload" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "description" TEXT,

    CONSTRAINT "WebhookEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VirtualAccount" (
    "id" TEXT NOT NULL,
    "paymentId" TEXT NOT NULL,
    "bankCode" TEXT NOT NULL,
    "accountNumber" TEXT NOT NULL,
    "holderName" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "depositedAt" TIMESTAMP(3),
    "depositorName" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VirtualAccount_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExchangeRate" (
    "id" TEXT NOT NULL,
    "fromCurrency" TEXT NOT NULL,
    "toCurrency" TEXT NOT NULL,
    "rate" DOUBLE PRECISION NOT NULL,
    "provider" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ExchangeRate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BlockchainNetwork" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "chainId" INTEGER NOT NULL,
    "rpcUrl" TEXT NOT NULL,
    "explorerUrl" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "isTestnet" BOOLEAN NOT NULL DEFAULT true,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "multicallAddress" TEXT,

    CONSTRAINT "BlockchainNetwork_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FactoryContract" (
    "id" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "networkId" TEXT NOT NULL,
    "deployedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deployedBy" TEXT,
    "transactionHash" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "collections" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "abi" JSONB,
    "bytecode" TEXT,

    CONSTRAINT "FactoryContract_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EscrowWallet" (
    "id" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "privateKey" TEXT NOT NULL,
    "keyHash" TEXT NOT NULL,
    "networkIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "balance" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "nonce" TEXT NOT NULL,

    CONSTRAINT "EscrowWallet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IpfsGroup" (
    "id" TEXT NOT NULL,
    "pinataId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IpfsGroup_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IpfsFile" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'nft-metadata',
    "pinataId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "cid" TEXT NOT NULL,
    "size" INTEGER NOT NULL,
    "numberOfFiles" INTEGER NOT NULL,
    "mimeType" TEXT NOT NULL,
    "groupId" TEXT,
    "keyvalues" JSONB,
    "vectorized" BOOLEAN NOT NULL DEFAULT false,
    "network" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "gateway" TEXT NOT NULL DEFAULT 'ipfs://',
    "url" TEXT NOT NULL DEFAULT 'ipfs://',

    CONSTRAINT "IpfsFile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Metadata" (
    "id" TEXT NOT NULL,
    "metadata" JSONB NOT NULL,
    "url" TEXT NOT NULL DEFAULT 'ipfs://',
    "collectionAddress" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "type" "MetadataType" NOT NULL DEFAULT 'collection',
    "tokenId" INTEGER,
    "collectionKey" TEXT NOT NULL,

    CONSTRAINT "Metadata_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CollectionContract" (
    "id" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "maxSupply" INTEGER NOT NULL,
    "mintPrice" TEXT NOT NULL,
    "baseURI" TEXT NOT NULL,
    "contractURI" TEXT NOT NULL,
    "factoryId" TEXT NOT NULL,
    "networkId" TEXT NOT NULL,
    "createdBy" TEXT NOT NULL DEFAULT 'admin',
    "txHash" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "price" INTEGER NOT NULL DEFAULT 0,
    "circulation" INTEGER NOT NULL DEFAULT 1000,
    "mintedCount" INTEGER NOT NULL DEFAULT 0,
    "artistId" TEXT,
    "key" TEXT NOT NULL,
    "isListed" BOOLEAN NOT NULL DEFAULT false,
    "abi" JSONB,
    "bytecode" TEXT,
    "isPaused" BOOLEAN NOT NULL DEFAULT false,
    "pauseAt" TIMESTAMP(3),
    "unpauseAt" TIMESTAMP(3),

    CONSTRAINT "CollectionContract_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NFT" (
    "id" TEXT NOT NULL,
    "tokenId" INTEGER NOT NULL,
    "collectionId" TEXT NOT NULL,
    "ownerAddress" TEXT NOT NULL,
    "metadataUri" TEXT,
    "mintedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "transactionHash" TEXT NOT NULL,
    "networkId" TEXT NOT NULL,
    "name" TEXT,
    "description" TEXT,
    "imageUrl" TEXT,
    "attributes" JSONB,
    "isListed" BOOLEAN NOT NULL DEFAULT false,
    "listingPrice" TEXT,
    "lastTransferredAt" TIMESTAMP(3),
    "transferCount" INTEGER NOT NULL DEFAULT 0,
    "isBurned" BOOLEAN NOT NULL DEFAULT false,
    "rarity" DOUBLE PRECISION,
    "tags" TEXT[],
    "category" TEXT,
    "creatorInfo" TEXT,
    "externalUrl" TEXT,
    "mintPrice" TEXT,
    "mintedBy" TEXT,
    "royaltyInfo" JSONB,
    "currentOwnerAddress" TEXT,
    "isLocked" BOOLEAN NOT NULL DEFAULT false,
    "lockedAt" TIMESTAMP(3),
    "unlockAt" TIMESTAMP(3),
    "unlockScheduledAt" TIMESTAMP(3),
    "lockTransactionHash" TEXT,
    "isStaked" BOOLEAN NOT NULL DEFAULT false,
    "stakedAt" TIMESTAMP(3),
    "unstakeScheduledAt" TIMESTAMP(3),
    "unstakedAt" TIMESTAMP(3),

    CONSTRAINT "NFT_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NFTEvent" (
    "id" TEXT NOT NULL,
    "nftId" TEXT NOT NULL,
    "collectionId" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "fromAddress" TEXT,
    "toAddress" TEXT,
    "price" TEXT,
    "transactionHash" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "blockNumber" INTEGER,

    CONSTRAINT "NFTEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Artist" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "imageUrl" TEXT,
    "externalUrl" TEXT,
    "reportUrl" TEXT,
    "company" TEXT,
    "sns" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "gallery" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "videos" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "music" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "events" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "additionalInfo" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Artist_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ArtistMember" (
    "id" TEXT NOT NULL,
    "artistId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "imageUrl" TEXT,
    "externalUrl" TEXT,
    "description" TEXT,
    "realName" TEXT,
    "birthDate" TIMESTAMP(3),
    "birthPlace" TEXT,
    "nationality" TEXT,
    "height" INTEGER,
    "weight" INTEGER,
    "bloodType" TEXT,
    "constellation" TEXT,
    "sns" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "gallery" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "videos" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "music" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "additionalInfo" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ArtistMember_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_email_active_idx" ON "User"("email", "active");

-- CreateIndex
CREATE INDEX "User_role_active_idx" ON "User"("role", "active");

-- CreateIndex
CREATE INDEX "User_lastLoginAt_idx" ON "User"("lastLoginAt");

-- CreateIndex
CREATE INDEX "Account_userId_provider_idx" ON "Account"("userId", "provider");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_unique" ON "Session"("sessionToken");

-- CreateIndex
CREATE INDEX "Session_userId_expires_idx" ON "Session"("userId", "expires");

-- CreateIndex
CREATE UNIQUE INDEX "Wallet_address_key" ON "Wallet"("address");

-- CreateIndex
CREATE INDEX "Wallet_userId_network_default_idx" ON "Wallet"("userId", "network", "default");

-- CreateIndex
CREATE INDEX "Wallet_address_network_idx" ON "Wallet"("address", "network");

-- CreateIndex
CREATE UNIQUE INDEX "Player_userId_key" ON "Player"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Player_telegramId_key" ON "Player"("telegramId");

-- CreateIndex
CREATE INDEX "Player_userId_telegramId_idx" ON "Player"("userId", "telegramId");

-- CreateIndex
CREATE INDEX "Player_points_SGP_SGT_idx" ON "Player"("points", "SGP", "SGT");

-- CreateIndex
CREATE INDEX "Player_recommenderId_idx" ON "Player"("recommenderId");

-- CreateIndex
CREATE INDEX "Quest_permanent_visible_startDate_idx" ON "Quest"("permanent", "visible", "startDate");

-- CreateIndex
CREATE INDEX "Quest_type_visible_idx" ON "Quest"("type", "visible");

-- CreateIndex
CREATE INDEX "Quest_primary_visible_idx" ON "Quest"("primary", "visible");

-- CreateIndex
CREATE INDEX "QuestLog_playerId_questId_completed_idx" ON "QuestLog"("playerId", "questId", "completed");

-- CreateIndex
CREATE INDEX "QuestLog_completedAt_rewardCurrency_idx" ON "QuestLog"("completedAt", "rewardCurrency");

-- CreateIndex
CREATE INDEX "Poll_startDate_endDate_exposeInScheduleTab_idx" ON "Poll"("startDate", "endDate", "exposeInScheduleTab");

-- CreateIndex
CREATE INDEX "Poll_totalVotes_totalBetsAmount_idx" ON "Poll"("totalVotes", "totalBetsAmount");

-- CreateIndex
CREATE INDEX "PollLog_playerId_pollId_idx" ON "PollLog"("playerId", "pollId");

-- CreateIndex
CREATE INDEX "PollLog_pollId_option_idx" ON "PollLog"("pollId", "option");

-- CreateIndex
CREATE INDEX "RewardsLog_playerId_currency_createdAt_idx" ON "RewardsLog"("playerId", "currency", "createdAt");

-- CreateIndex
CREATE INDEX "RewardsLog_questId_pollId_idx" ON "RewardsLog"("questId", "pollId");

-- CreateIndex
CREATE INDEX "Events_category_status_startDate_idx" ON "Events"("category", "status", "startDate");

-- CreateIndex
CREATE INDEX "Events_location_startDate_idx" ON "Events"("location", "startDate");

-- CreateIndex
CREATE INDEX "Events_isFeatured_isActive_startDate_idx" ON "Events"("isFeatured", "isActive", "startDate");

-- CreateIndex
CREATE UNIQUE INDEX "StoredFiles_url_key" ON "StoredFiles"("url");

-- CreateIndex
CREATE INDEX "StoredFiles_bucket_purpose_idx" ON "StoredFiles"("bucket", "purpose");

-- CreateIndex
CREATE INDEX "StoredFiles_url_type_idx" ON "StoredFiles"("url", "type");

-- CreateIndex
CREATE UNIQUE INDEX "StoredFiles_sourceUrl_type_key" ON "StoredFiles"("sourceUrl", "type");

-- CreateIndex
CREATE INDEX "LoginAttemptLog_userId_success_timestamp_idx" ON "LoginAttemptLog"("userId", "success", "timestamp");

-- CreateIndex
CREATE INDEX "LoginAttemptLog_email_success_timestamp_idx" ON "LoginAttemptLog"("email", "success", "timestamp");

-- CreateIndex
CREATE INDEX "LoginAttemptLog_provider_success_timestamp_idx" ON "LoginAttemptLog"("provider", "success", "timestamp");

-- CreateIndex
CREATE INDEX "LoginAttemptLog_ipAddress_timestamp_idx" ON "LoginAttemptLog"("ipAddress", "timestamp");

-- CreateIndex
CREATE INDEX "Payment_userId_idx" ON "Payment"("userId");

-- CreateIndex
CREATE INDEX "Payment_userId_status_idx" ON "Payment"("userId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentPromotion_code_key" ON "PaymentPromotion"("code");

-- CreateIndex
CREATE INDEX "PaymentPromotion_code_idx" ON "PaymentPromotion"("code");

-- CreateIndex
CREATE UNIQUE INDEX "VirtualAccount_paymentId_key" ON "VirtualAccount"("paymentId");

-- CreateIndex
CREATE INDEX "VirtualAccount_accountNumber_idx" ON "VirtualAccount"("accountNumber");

-- CreateIndex
CREATE INDEX "ExchangeRate_fromCurrency_toCurrency_idx" ON "ExchangeRate"("fromCurrency", "toCurrency");

-- CreateIndex
CREATE UNIQUE INDEX "BlockchainNetwork_name_key" ON "BlockchainNetwork"("name");

-- CreateIndex
CREATE UNIQUE INDEX "BlockchainNetwork_chainId_key" ON "BlockchainNetwork"("chainId");

-- CreateIndex
CREATE INDEX "BlockchainNetwork_isTestnet_isActive_idx" ON "BlockchainNetwork"("isTestnet", "isActive");

-- CreateIndex
CREATE INDEX "FactoryContract_networkId_isActive_idx" ON "FactoryContract"("networkId", "isActive");

-- CreateIndex
CREATE UNIQUE INDEX "FactoryContract_address_networkId_key" ON "FactoryContract"("address", "networkId");

-- CreateIndex
CREATE UNIQUE INDEX "EscrowWallet_address_key" ON "EscrowWallet"("address");

-- CreateIndex
CREATE INDEX "EscrowWallet_isActive_idx" ON "EscrowWallet"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "IpfsGroup_pinataId_key" ON "IpfsGroup"("pinataId");

-- CreateIndex
CREATE UNIQUE INDEX "IpfsGroup_name_key" ON "IpfsGroup"("name");

-- CreateIndex
CREATE INDEX "IpfsGroup_name_idx" ON "IpfsGroup"("name");

-- CreateIndex
CREATE INDEX "IpfsGroup_pinataId_idx" ON "IpfsGroup"("pinataId");

-- CreateIndex
CREATE INDEX "IpfsFile_pinataId_idx" ON "IpfsFile"("pinataId");

-- CreateIndex
CREATE INDEX "IpfsFile_url_idx" ON "IpfsFile"("url");

-- CreateIndex
CREATE INDEX "IpfsFile_name_idx" ON "IpfsFile"("name");

-- CreateIndex
CREATE INDEX "IpfsFile_groupId_idx" ON "IpfsFile"("groupId");

-- CreateIndex
CREATE INDEX "IpfsFile_cid_idx" ON "IpfsFile"("cid");

-- CreateIndex
CREATE UNIQUE INDEX "Metadata_collectionAddress_key" ON "Metadata"("collectionAddress");

-- CreateIndex
CREATE INDEX "Metadata_collectionAddress_tokenId_idx" ON "Metadata"("collectionAddress", "tokenId");

-- CreateIndex
CREATE INDEX "Metadata_collectionAddress_idx" ON "Metadata"("collectionAddress");

-- CreateIndex
CREATE INDEX "Metadata_url_idx" ON "Metadata"("url");

-- CreateIndex
CREATE UNIQUE INDEX "Metadata_collectionAddress_tokenId_key" ON "Metadata"("collectionAddress", "tokenId");

-- CreateIndex
CREATE UNIQUE INDEX "CollectionContract_address_key" ON "CollectionContract"("address");

-- CreateIndex
CREATE UNIQUE INDEX "CollectionContract_key_key" ON "CollectionContract"("key");

-- CreateIndex
CREATE INDEX "CollectionContract_address_networkId_idx" ON "CollectionContract"("address", "networkId");

-- CreateIndex
CREATE INDEX "CollectionContract_factoryId_idx" ON "CollectionContract"("factoryId");

-- CreateIndex
CREATE INDEX "NFT_collectionId_tokenId_idx" ON "NFT"("collectionId", "tokenId");

-- CreateIndex
CREATE INDEX "NFT_collectionId_idx" ON "NFT"("collectionId");

-- CreateIndex
CREATE INDEX "NFT_tokenId_idx" ON "NFT"("tokenId");

-- CreateIndex
CREATE INDEX "NFT_currentOwnerAddress_idx" ON "NFT"("currentOwnerAddress");

-- CreateIndex
CREATE INDEX "NFT_ownerAddress_idx" ON "NFT"("ownerAddress");

-- CreateIndex
CREATE UNIQUE INDEX "NFT_collectionId_tokenId_key" ON "NFT"("collectionId", "tokenId");

-- CreateIndex
CREATE INDEX "NFTEvent_nftId_idx" ON "NFTEvent"("nftId");

-- CreateIndex
CREATE INDEX "NFTEvent_eventType_idx" ON "NFTEvent"("eventType");

-- CreateIndex
CREATE INDEX "NFTEvent_fromAddress_toAddress_idx" ON "NFTEvent"("fromAddress", "toAddress");

-- CreateIndex
CREATE INDEX "Artist_name_idx" ON "Artist"("name");

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Wallet" ADD CONSTRAINT "Wallet_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Player" ADD CONSTRAINT "Player_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestLog" ADD CONSTRAINT "QuestLog_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestLog" ADD CONSTRAINT "QuestLog_questId_fkey" FOREIGN KEY ("questId") REFERENCES "Quest"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PollLog" ADD CONSTRAINT "PollLog_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PollLog" ADD CONSTRAINT "PollLog_pollId_fkey" FOREIGN KEY ("pollId") REFERENCES "Poll"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RewardsLog" ADD CONSTRAINT "RewardsLog_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RewardsLog" ADD CONSTRAINT "RewardsLog_pollId_fkey" FOREIGN KEY ("pollId") REFERENCES "Poll"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RewardsLog" ADD CONSTRAINT "RewardsLog_pollLogId_fkey" FOREIGN KEY ("pollLogId") REFERENCES "PollLog"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RewardsLog" ADD CONSTRAINT "RewardsLog_questId_fkey" FOREIGN KEY ("questId") REFERENCES "Quest"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RewardsLog" ADD CONSTRAINT "RewardsLog_questLogId_fkey" FOREIGN KEY ("questLogId") REFERENCES "QuestLog"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LoginAttemptLog" ADD CONSTRAINT "LoginAttemptLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_promotionCode_fkey" FOREIGN KEY ("promotionCode") REFERENCES "PaymentPromotion"("code") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_receiverWalletAddress_fkey" FOREIGN KEY ("receiverWalletAddress") REFERENCES "Wallet"("address") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WebhookEvent" ADD CONSTRAINT "WebhookEvent_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES "Payment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VirtualAccount" ADD CONSTRAINT "VirtualAccount_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES "Payment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FactoryContract" ADD CONSTRAINT "FactoryContract_networkId_fkey" FOREIGN KEY ("networkId") REFERENCES "BlockchainNetwork"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IpfsFile" ADD CONSTRAINT "IpfsFile_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES "IpfsGroup"("pinataId") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Metadata" ADD CONSTRAINT "Metadata_collectionAddress_fkey" FOREIGN KEY ("collectionAddress") REFERENCES "CollectionContract"("address") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CollectionContract" ADD CONSTRAINT "CollectionContract_artistId_fkey" FOREIGN KEY ("artistId") REFERENCES "Artist"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CollectionContract" ADD CONSTRAINT "CollectionContract_factoryId_fkey" FOREIGN KEY ("factoryId") REFERENCES "FactoryContract"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CollectionContract" ADD CONSTRAINT "CollectionContract_networkId_fkey" FOREIGN KEY ("networkId") REFERENCES "BlockchainNetwork"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NFT" ADD CONSTRAINT "NFT_collectionId_fkey" FOREIGN KEY ("collectionId") REFERENCES "CollectionContract"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NFT" ADD CONSTRAINT "NFT_networkId_fkey" FOREIGN KEY ("networkId") REFERENCES "BlockchainNetwork"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NFTEvent" ADD CONSTRAINT "NFTEvent_collectionId_fkey" FOREIGN KEY ("collectionId") REFERENCES "CollectionContract"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NFTEvent" ADD CONSTRAINT "NFTEvent_nftId_fkey" FOREIGN KEY ("nftId") REFERENCES "NFT"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ArtistMember" ADD CONSTRAINT "ArtistMember_artistId_fkey" FOREIGN KEY ("artistId") REFERENCES "Artist"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

