# Hardhat files
cache/
typechain-types/
artifacts/
ignition/
!artifacts/contracts/Collection.sol/Collection.json
!artifacts/contracts/Factory.sol/Factory.json
!artifacts/contracts/Assets.sol/Assets.json
!artifacts/contracts/Staking.sol/Staking.json


# Dependencies
node_modules/

# Environment variables
.env

# Coverage
coverage/
coverage.json

# Hardhat local network
deployments/hardhat/
deployments/localhost/

# Ignition deployment files
ignition/

# IDE
.vscode/
.idea/

# Logs
*.log 