# Hardhat files
cache/
typechain-types/
artifacts/@openzeppelin/
artifacts/build-info/
artifacts/erc721a
# Dependencies
node_modules/

# Environment variables
.env

# Coverage
coverage/
coverage.json

# Hardhat local network
deployments/hardhat/
deployments/localhost/

# Ignition deployment files
ignition/deployments/

# IDE
.vscode/
.idea/

# Logs
*.log 